body {background-color: rgb(75, 6, 57);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: bisque;
    }
    
   #container {
display: flex;
   }
   .cartao {
    margin: 1rem 1rem;
   }
    footer  {
        background-color: blue
        color( rgb(181, 11, 39))
        bottom/0;
        position:fixed;
        width: 100%;
        
    }